.dms-cart-actions .dms-cart-actions-removelink {
  margin-right: 15px;
}

.checkout-page-thumbnail .thumbnail {
  width: 32px;
  border: none;
  vertical-align: middle;
}

.Actions a.action:hover {
  border-bottom: inherit;
}
